extends ./head.pug
block title
  title Blog Node JS

block content
    div.maDiv
        h1 Ajouter un commentaire
        
        form(action="/", method="get")
            p Pseudo
            p 
                input(type="text", name="pseudo", id="pseudo")
            p Commentaire
            p 
                input(type="text", name="commentaire", id="commentaire")
            p    
                input(type="submit", name="valider", value="commenter")