
extends ./head.pug

block title
  title Blog Node JS

block content
   div.maDiv
        h1 BLOG

        table(border='1px solid black')
            tr 
                th Pseudo
                th Commentaire
                th Date
                th Action
            -function prettyDate(dateString){
                //if it's already a date object and not a string you don't need this line:
                -var date = new Date(dateString);
                -var d = date.getDate();
                -var monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
                -var m = monthNames[date.getMonth()];
                -var y = date.getFullYear();
                -return d+' '+m+' '+y;
            -}
            for commentaire in commentaires
                tr
                    td #{commentaire.pseudo}
                    td #{commentaire.contenu}
                    td #{prettyDate(commentaire.date)}
                    td
                        - var url='/'+commentaire._id+'/supprimer'
                        a(href=url) Supprimer 
            

        p
            a(href= './commenter') Commenter


